*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

section {
  margin: 0 auto;
  padding-top: 94px;
  padding-bottom: 94px;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: #FFFFFF;
  }

  :root {
    --hover-color: rgba(33, 150, 243, 1);
    --logo-color2: rgba(0, 0, 0, 1);
    --text-color: rgba(117, 117, 117, 1);
    --text2-color: rgba(255, 255, 255, 1);
    --text3-color: rgba(255, 255, 255, 0.6);
    --background-color: rgba(47, 48, 58, 1);
    --background-color2: rgba(245, 244, 250, 1);
    --background-color3: rgba(255, 255, 255, 0.1);
    --border-bottom-color: rgba(236, 236, 236, 1);
    --border-bottom-color2: rgba(238, 238, 238, 1);
    --svg-color: rgba(175, 177, 184, 1);
    --gradient-color: rgba(47, 48, 58, 0.4);
}
  
  .second-font {
    font-family: "Raleway", sans-serif;
    padding-top: 60px;
    padding-bottom: 60px;
    ;
  }
  
  button {
    cursor: pointer;
  }
  
  .logo-left a {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #2196f3;
    text-decoration: none;
    
  }
  
  .logo-right a {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #000000;
    text-decoration: none;
  }
  
  .logo-right-footer a {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #ffffff;
    text-decoration: none;
  }
  
  h1 {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #ffffff;
  }
  
  h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
  }

.icon {
  width: 16px;
  height: 16px;
  text-decoration: none;
  border-style: none;
  color: #FFFFFF;
  cursor: pointer;
}  

.icon svg:hover,
.icon svg:focus {
  fill: #2196f3;
  transition: all 0.2s;
  --color3: #2196F3;
}

  .nav-portfolio {
    display: flex;
    flex-grow: 1;
    max-width: 10%;
    justify-content: center;
    align-items: center;
    gap: 10px;
    /*margin-top: 100px;
    margin-bottom: 50px;*/
  }
  
  .menu {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #2196f3;
    display: flex;
    justify-content:space-between;
    text-decoration: none;
    gap: 50px;
  }
  
  .menu a {
    text-decoration: none;
    color: #000000;
  }
  
  .menu a:hover {
    text-decoration: none;
    color: #2196f3;
  }
  
  .menu-contact {
    display: flex;
    flex-grow: 1;
    align-items: center;
    gap: 50px;

  }

  .address {
      text-decoration: none;
      color: #757575;
      font-weight: 500;
      font-size: 14px;
      line-height: 1.14;
  }

  .menu-contact svg {
    align-self: auto;
    margin-right: 10px;
  }

  .menu-contact a {
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #757575;
    display: flex;
    flex-grow: 1;
    gap: 2px;
    justify-content: space-between;
    text-decoration: none;
  }

  .menu-contact a:hover,
  .menu-contact a:focus {
    fill: #2196f3;
    color: #2196f3;
    transition: all 0.2s;
  }

  .address:hover svg,
  .address:focus svg {
  fill: #2196f3;
  color: #2196f3;
  transition: all 0.2s;
}

  .menu-footer {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    width: 246px;
    height: 81px;
    margin-top: 20px;
    gap: 9px;
  }
  
  .menu-footer a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
  }
  
  .menu-footer a:hover {
    text-decoration: none;
    color: #2196f3;
  }
  
  .bar {
    background-color: #2f303a;
    height: 600px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
    gap: 30px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bar.jpg);
    background-repeat: no-repeat;
    background-position: center;
    }
  
  .button-bar {
    background: #2196f3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #ffffff;
    border: 0px;
    padding: 10px 42px;
    cursor: pointer;
  }
  
  .h-lorem {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  
  .description-lorem {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: #757575;
    /*width: 270px;
    height: 75px;*/
  }
  
  li {
    list-style: none;
  }
  
  h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
  }
  
  .name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    padding-top: 30px;
    padding-bottom: 10px;
  }
  
  .profession {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
    padding-bottom: 60px;
  }
  
  .people {
    background: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    
  }
  
  
  address {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #ffffff;
  }
  
  .button-portfolio {
    background: #f5f4fa;
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    font-family: inherit;
    border: 1px;
    border-color: #EEEEEE;
    padding: 6px 22px;
    cursor: pointer;
  }
  
  .button-portfolio:hover {
    background: #2196f3;
    color:#ffffff;
  }
  
  .realizations {
    background: #ffffff;
    border: 1px solid #eeeeee;
    margin-bottom: 30px;
  }
  
  .name-project {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: #212121;
    padding: 20px 24px 1px 24px;
    
  }
  
  .type-project {
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: #757575;
    padding: 1px 24px 20px 24px;
    
  }

.realizations-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 1;
  /*margin-bottom: 100px;*/
}

.h-wrapper {
  display:flex;
  align-items:center;
  justify-content: space-between;
  gap: 60px;
  /*margin-top: 100px;*/
  /*margin-bottom: 100px;*/
}

.hp3-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 1;
  /*margin-bottom: 100px;*/
}

.our-team {
  background-color: #F5F4FA;
  /*padding-top: 90px;
  padding-bottom: 20px;*/
}

header {
  border-bottom: #ececec 1px solid;
  height: 100px;
}

.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}

.header-wrapper svg {
  fill: #757575;
  padding-top: 0px;
}

.menu-wrapper {
  display: flex;
  align-items:center;
  gap: 75px
}

/*.lorem {
  padding: 0px;
}*/

.our-team-title {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.box-social{
  width: 206px;
  height: 56px;
  margin: auto;
}

.icon-social,
.box-social{
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-social {
  gap: 10px;
  padding-bottom: 3rem;
}

.icon-social>li {
    display: flex;
    background: ;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    margin-top: 16px;
    margin-bottom: 30px;
    stroke: #afb1b8;
    fill: #afb1b8;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
      border-radius: 50%;
}

.icon-social li:not(:last-child) {
  margin-right: 10px;
}

.our-customer {
  text-align: center;
}
.our-customer svg {
  fill: #afb1b8;
  border-radius: 4px;
  outline: 1px solid #afb1b8;
  flex-direction: row;
  flex-wrap: nowrap;
}

.our-customer svg:hover,
.our-customer svg:focus {
  outline: 1px solid #2196f3;
  transition: all 0.2s;
}

.our-customer ul {
  display: flex;
  padding-left: 0;
}
.our-customer li:not(:last-child) {
  margin-right: 30px;
}

figure svg {
  background-color: #F5F4FA;
  align-items: center;
  width: 270px;
  height: 120px;
}

footer {
  background: #2f303a;
  padding-block: 3.75rem;
  display: flex;
}

.logo-fotter {
  display: flex;
  flex-wrap: nowrap;
}

.social-links-footer {
  display: flex;
  flex-direction: column;
}

.h3-footer {
  padding-top: 12px;
  margin-bottom: 20px;
  margin-right: 0;
  color: #FFFFFF;
  font-family: "Roboto", sans-serif;
}

.social-list-footer {
  display: flex;
  gap: 10px;
}

.social-list-footer>li {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  background-color: #6d6a6a;
}
.social-list-footer>li:hover {
  background-color: #2196F3;
}

.logo-footer {
  display: flex;
  gap:70px;
}

.social-list-footer>li:hover svg,
.social-list-footer>li:focus {
  cursor: pointer;
}

.icon-social>li:hover {
  background: #2196F3;
  fill: #ffffff;
  cursor: pointer;
}

.icon-smartphone,
.icon-email {
    margin-right: 10px;
}

/*.h-wrapper svg {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}*/

.realizations:hover {
  background: #FFFFFF;
  border: 1px solid #EEEEEE;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
    0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.nav-portfolio>li:hover {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

figure, figcaption {
  padding-block: 0.6rem;
}

h4, p {
  padding-block: 0.25rem;
  }
